<div class="row">
	<div class="col-sm-12">
	    <p class="alert alert-danger" ng-show="moreError">{{moreError}}</p>
		<form class="form-inline">
			  <div class="form-group">
			    <label for="exampleInputName2">Result to display</label>
			    <input type="text" class="form-control" ng-model="number">
			  </div>
			  <button type="submit" ng-click="showMore(number)" class="btn btn-success">Apply filter</button>
			  <button class="btn btn-warning" ng-click="showAll()">Show all</button>
		</form>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="text-center">User management</h2>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Email</th>
						<th>Options</th>
					</tr>
					<tr ng-repeat="person in users | limitTo: limit">
						<td>{{person._id}}</td>
						<td>{{person.username}}</td>
						<td>{{person.email}}</td>
						<td><a href="#!/edit/{{person._id}}"><button class="btn btn-success" ng-show="editAccess">Edit</button></a></td>
						<td><button class="btn btn-danger" ng-click="deleteUser(person.username)" ng-show="deleteAccess">Delete</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>